@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.p-100{
    padding: 100px 0px;
}

header {
    background-color: black;
}

.nav-link {
    font-family: "Roboto", sans-serif;
}

.button-1 {
    font-family: "Roboto", sans-serif;
}

.image {
    background-image: url('../images/31.jpg');
    height: 100vh;
}

.ind-services {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.font-size {
    font-size: 77px;
}

.f-style {
    font-family: "Roboto", sans-serif;
}

.button-more {
    font-family: "Roboto", sans-serif;
    background-color: red;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-more:hover {
    color: #fff;
    background-color: #04091d;
}

.services .image {
    background-image: url('../images/in4\ \(1\).jpg');
    height: 100vh;
}

.logo {
    background-color: #060a0f;
}

.logo h5,
p {
    font-family: "Roboto", sans-serif;
}

.font-size16 {
    font-size: 14px;
}

.card-design {
    position: relative;
    overflow: hidden;
}

.card-design::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #031321;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s all linear;

}

.card-design::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #031321;
    bottom: 0%;
    left: 0;
    z-index: -1;
    transition: 0.3s all linear;
}

.card-design:hover::after {
    bottom: -50%;
}

.card-design:hover::before {
    top: -50%;
}

.about {
    background-color: #031321;
    padding: 90px;
}

.about-p {
    font-size: 16px;
    color: red;
}

.font-size-1 {
    font-size: 42px;
    font-family: "Playfair Display", serif;
}

span {
    color: red;
    font-style: italic;
    right: 50px;
    top: 50px;
}
.icon{
    align-items: center;
    justify-content: center;
    display: flex; 
   
}

.icon i {
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #060a0f;
   

}

.button-more2 {
    font-family: "Roboto", sans-serif;
    background-color: red;
    color: white;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-more2:hover {
    color: black;
    background-color: white;
}

.background {
    background-color: #031321;
}

.image1 {
    border-radius: 5px 5px 0px 0px;
}

.video-section {
    position: relative;
}

.video-section::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-color: #050721;
    top: 0;
    left: 0;
    opacity: .8;
}

.content  {
    background-color: #fff;
    padding: 8px;
    border-radius: 0px 0px 5px 5px;
    background-color: #010d14;
}
.content p{
    font-family: "Playfair Display", serif;
}
.circle{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials-img{
    background-image: url('../images/testimonials.jpg');
    width: 100%;
   
  
}
.testimonials-img p{
    font-family: "Roboto", sans-serif;
    margin:  0px 0px 20px 14px;
}
.testimonials-img .font-style{
    font-family: "Playfair Display", serif;
    margin:  0px 0px 26px;
}
.p-10{
    padding: 20px 40px;
    background-color: #01020a;
    opacity: .8;
}
.test-name h6{
    font-family: "Roboto", sans-serif;
}
.circle-1{
    height: 60px;
    width: 60px;
}